 <div style="padding-left:0; margin-top: 10px;">
      <div class="borderRadius padding10">
       <div class="pull-right"> 
           <a href="javascript:;" class="btn btn-primary BtnDefault marginLeft5" ng-click="goToTest('goToLevel');">Continue</a> 
<!--  <a href="javacsript:;" class="btn btn-primary BtnDefault marginLeft5"><i class="fa fa-chevron-left marginRight5 roundBorder"></i>Back</a> -->

 </div>
        <div class="clearfix"></div>
<div class="mcqTestContainer">
<div class="mcqHeading"><img ng-src="{{basepath}}/images/quiz-icon.png"  alt=""> Extramarks Get Set Go</div>
<div class="mcqContent">
<div class="listContainer">
Welcome children, to a great way of testing your knowledge and refreshing your memory.

As the name suggests 'Get Set Go', is a race to solve a set of multiple choice questions.

These will enable you to recall and reinforce learning and understanding of the main concepts in a topic, in a fun manner.

The test will allow a quick but comprehensive revision of the entire topic and at the same time you get to assess your performance.

So put on your thinking caps and....Get..Set...Go!
</div>
</div>
</div>
</div>
        
      </div>