    <div style="padding-left:0; margin-top: 10px;">
      <div class="borderRadius padding10">
       <div class="pull-right"> 
<!--  <a href="javascript:;" class="btn btn-primary BtnDefault marginLeft5"><i class="fa fa-chevron-left marginRight5 roundBorder"></i>Back</a> -->
 </div>
        <div class="clearfix"></div>
<div class="mcqTestContainer">
<div class="mcqHeading"><img ng-src="{{basepath}}/images/quiz-icon.png"  alt=""> Single Chapter</div>
<div class="mcqContent">
  <div class="listContainer">
  <p>Make your choice by selecting a particular chapter from any of the subjects to test your preparation level. Practice hard to get a perfect score.</p>
  <p class="paddingbottom40">

Start the GET SET GO, by selecting a particular chapter from any of the subjects to assess your understanding and memory. Practise hard to get a perfect score.

GET SET GO can be taken as an individual revision exercise or as a group activity, where each group is allocated one question.

If the answer given by the first group is incorrect, the second group gets a chance. If the answer is still incorrect, then the correct answer will appear automatically.
</p>
<div class="pull-right"><a href="javascript:;" ng-click="goToTest('single')" class="btn btn-primary BtnDefault marginLeft5">Continue</a></div>
  <div class="clearfix"></div>
  </div>
</div>
</div>


<div class="mcqTestContainer">
<div class="mcqHeading"><img ng-src="{{basepath}}/images/quiz-icon.png"  alt=""> Multiple Chapters</div>
<div class="mcqContent">
  <div class="listContainer">
  <p>Select multiple chapters from a particular subject on which you would like to test yourself. Choose the chapters and start the quiz. This will eventually help you in improving your chances of fetching valuable marks in the coming exam season.</p>
  <p class="paddingbottom40">

Select multiple chapters from a particular subject on which you would like to assess your understanding and memory.

Practise hard to get a perfect score. GET SET GO can be taken as an individual revision exercise or as a group activity, where each group is allocated one question.

If the answer given by the first group is incorrect, the second group gets a chance. If the answer is still incorrect, then the correct answer will appear automatically.
</p>
  <div class="pull-right"><a href="javascript:;" ng-click="goToTest('multiple')" class="btn btn-primary BtnDefault marginLeft5">Continue</a></div>
  <div class="clearfix"></div>
  </div>
</div>
</div>
        
      </div>
    </div>